axis/ja/cfiles/Calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost/axis/Calculator" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:apachesoap="http://xml.apache.org/xml-soap"
xmlns:impl="http://localhost/axis/Calculator"
xmlns:intf="http://localhost/axis/Calculator"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:message name="subtractResponse">
    <wsdl:part name="subtractReturn" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="subtractRequest">
    <wsdl:part name="in0" type="xsd:int"/>
    <wsdl:part name="in1" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="addRequest">
    <wsdl:part name="in0" type="xsd:int"/>
    <wsdl:part name="in1" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part name="addReturn" type="xsd:int"/>
  </wsdl:message>
  <wsdl:portType name="Calculator">
    <wsdl:operation name="add" parameterOrder="in0 in1">
      <wsdl:input message="intf:addRequest" name="addRequest"/>
      <wsdl:output message="intf:addResponse" name="addResponse"/>
    </wsdl:operation>
    <wsdl:operation name="subtract" parameterOrder="in0 in1">
      <wsdl:input message="intf:subtractRequest" name="subtractRequest"/>
      <wsdl:output message="intf:subtractResponse" name="subtractResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorSoapBinding" type="intf:Calculator">
    <wsdlsoap:binding style="rpc" 
    transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="addRequest">

        <wsdlsoap:body 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
        namespace="http://localhost/axis/Calculator" 
        use="encoded"/>
      </wsdl:input>
      
      <wsdl:output name="addResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
        namespace="http://localhost/axis/Calculator" 
        use="encoded"/>
      </wsdl:output>
      
    </wsdl:operation>
    
    <wsdl:operation name="subtract">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="subtractRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
        namespace="http://localhost/axis/Calculator" 
        use="encoded"/>
      </wsdl:input>
      <wsdl:output name="subtractResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
        namespace="http://localhost/axis/Calculator" 
        use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Calculator">
    <wsdl:port binding="intf:CalculatorSoapBinding" name="Calculator">
      <wsdlsoap:address location="http://localhost/axis/Calculator"/>
    </wsdl:port>
  </wsdl:service>
  
  
</wsdl:definitions>
